<div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<div class="highlightItem"><img class="img-responsive" src="images/productsx1.png" alt="">
			<h1>Products</h1>
			<div class="products-icons">
				We offer four products : 
				<div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingOne">
							<a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
								<h4 class="panel-title">
									<i class="fa fa-server fa-2x icon-dec"></i><span class="icon-text-span">E-Commerce Software As Service</span>
								</h4>
							</a>
						</div>
						<div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
							<div class="panel-body">
								<div class="thumbnail"><img src="images/e-commerce.jpg">
									<div class="caption">
										<p>
										Ecommerce, POS system and marketing advertisement integration is an essential milestone that to bridge the gap between data in ecommerce software and hardware store data channels. We have developed an infrastructure system that combines online and physical store, data warehouse, store item tagging, inventories, invoicing, payment processing, marketing and customer advertisement via reviews all in one software provided as service. </p>
										<p>
										We offer an all in one product customizable and scalable with the need of your business to be successful. Big or small size business, one account give you access to a whole infrastructure system to run your store, process payments, tag items in your store, get location advertisement, marketing and reviews.</p>
										<p>The software is built with data redendancy and scare availabity to handle big data for a market of any size.</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingTwo">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
								<h4 class="panel-title">
									<i class="fa fa-superpowers fa-2x icon-dec"></i><span class="icon-text-span">Payment processing</span>	
								</h4>
							</a>
						</div>
						<div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
							<div class="panel-body">
								<div class="thumbnail"><img src="images/transactionprocessing.png">
									<div class="caption">
										<p>
										The success of a business depend on an excellent quality of service. With our e-commerce
										you will get access to a payment processing system application that runs on most new Android and IOS
										devices, including cell phones.
										</p>
										<p>
										This Application give your customers options to pay with cash money, Credit and debut cards,
										NFC, Bank account and even Mobile SMS if then customer has an account with us.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingThree">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
								<h4 class="panel-title">
									<i class="fa fa-link fa-2x icon-dec"></i><span class="icon-text-span">Url shortner</span>
								</h4>
							</a>
						</div>
						<div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
							<div class="panel-body">
								<div class="thumbnail"><img src="images/url-shortner.jpg">
									<div class="caption">
										<p>
											By all means, when you are looking to serve better, nocking off one step of the steps your customer take coming
											to you is crucial to your success. The url shortner and QR code give you the option to send links
											your client can scan or click on to go directly to invoices, menu or specific item in your store...
										</p>
										<p>
											This method of QR code is recommended for in store use to tag item so that your clients can scan
											items themselves pay and head out without having to go through the counter.
										</p>
										<p>
											For outsiders, people without account can also take advantage of this service to send specific 
											shortened link via social media or sms.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
					<div class="panel panel-default">
						<div class="panel-heading" role="tab" id="headingFour">
							<a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
								<h4 class="panel-title">
									<i class="fa fa-sign-language fa-2x icon-dec"></i><span class="icon-text-span">Web Advertisement</span>
								</h4>
							</a>
						</div>
						<div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
							<div class="panel-body">
								<div class="thumbnail"><img src="images/webadvert.jpg">
									<div class="caption">
										<p>
											Advertisement is a key to make your products and services knowns. Many businesses invest a lot in this activity.
											We have fused advertisement and customer review with e-commerce to boost the follow of data and information in real time
											from marchant or service providers to benefialies.
										</p>
										<p>When you are using our system, your products get automaticaly listed in our system search engine. This search engine is accessible on internet.
										It helps to boost you products and competitivity on the market.
										</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<!---/row--->
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<div class="thumbnail"><img src="images/online-store.jpg" alt="">
			<div class="caption">
				<h4>Online Store</h4>
				<p>
					<a class="btn btn-primary btn-sm" role="button" href="products/webdevelopment">Find out more</a>
				</p>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<div class="thumbnail"><img src="images/data-warehouse.jpg" alt="">
			<div class="caption">
				<h4>Real time Data Account</h4>
				<p><a class="btn btn-primary btn-sm" role="button" href="products/qualityassurance">Find out more</a></p>
			</div>
		</div>
	</div>
</div>
<!---/row--->
<div class="row">
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<div class="thumbnail"><img src="images/pointofsale.png" alt="">
			<div class="caption">
				<h4>Point Of Sale</h4>
				<p><a class="btn btn-primary btn-sm" role="button" href="products/datamining">Find out more</a></p>
			</div>
		</div>
	</div>
	<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
		<div class="thumbnail"><img src="images/tranproc.png" alt="">
			<div class="caption">
			<h4>Payment processing</h4>
			<p><a class="btn btn-primary btn-sm" role="button" href="products/analysisandmodeling">Find out more</a></p>
			</div>
		</div>
	</div>
</div>
<!---/row--->