/************************ DropZone ***************************/
.dropzone {
    background: #fcfcff;
    border-radius: 5px;
    border: 1px solid #ddddf7;
    max-width: 200px;
	max-height:40px;
    margin-left: auto;
    margin-right: auto;
	margin-top:10px
}
/************************ /DropZone ***************************/
/********************************* Avatar ************************************/
.avatar-container{
	width:200px;
	height: 200px;
	border-radius:5px;
	background-size:cover;
	background-position:center center;
	margin-left: auto;
    margin-right: auto;
	margin-top:10px;
}
/********************************* /Avatar ************************************/

/********************************* Subpages header section ********************/

.highlightItem h1{
	margin:10px;
}
.highlightItem p{
	padding:10px;
}
/********************************* /Subpages header section ********************
body{
	background-image:url(/betop/images/no.svg);
	background-position:center;
	background-repeat:no-repeat;
	background-size:cover;
	
}
/*
@media (min-width: 1610px){
	.container {
		width: 1560px;
		font-size:1.95rem;
	}
}*/
.navbar{
	margin-bottom:10px;
}
@media (min-width: 992px){
	.navbar {
		border-radius: 0;
	}
}
.img-responsive, .thumbnail>img, .thumbnail a>img, .carousel-inner>.item>img, .carousel-inner>.item>a>img {
    width: 100%;
}

/********************************** products icones **************************/
a{
	color: #46407a;
}
.btn-primary {
    color: #fff;
    background-color: #46407a;
    border-color: #5a797a;
}
.panel-primary{
	border-color: #46407a
}
.panel-primary>.panel-heading{
	background-color: #46407a;
    border-color: #46407a;
}

.panel-group{
	margin-top:10px;
	color: #46407a;
    background-color: #fff;
	border: 1px solid #ddd;
	border-radius:4px;
}
.panel-group .panel{
	border-radius:4px;
}
.panel-group .panel+.panel{
	margin-top:0;
}
.panel-default{
	border: 0;
}
.panel-default > .panel-heading{
	color: #46407a;
    background-color: #fff;
	border-radius:4px 4px 0 0;
}
.panal-default > .panel-body{
	border-top:1px;
	border-bottom:1px;
}
h4.panel-title{
	font-size: 2em;
	vertical-align:middle;
}

.products-icons.panel-heading{
	border-bottom: 1px;
}
.panel-body{
	border-bottom: 1px solid #ddd;
}
.panel-body >.thumbnail{
	border:0;
}
.products-icons{
	color:#46407a;
}
.products-icons a{
	color:#333;
	text-decoration:none;
}
.products-icons a:hover{
	color:#013840;
	text-decoration:none;
}
.icon-dec{
	margin:5px 5px;
	vertical-align: middle;
}

/********************************** /products icones **************************/
