<IfModule mod_rewrite.c>
  RewriteEngine on
    
  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.php [L]
  
  
</IfModule>
<Files 403.shtml>
order allow,deny
allow from all
</Files>

deny from 173.208.248.90
