@charset "utf-8";
/* CSS Document */

.sectionHeader, .breadcrumb, .topLinks, #stfcLogo, .navbar-brand, .rhListDiv, #socialButtons, .socialShare {
	display: none;
}
@media print {
  a[href]:after {
    content: none !important;
  }
}
.container {
	width: 100%;
	margin: 0;
	float: none;
}
.content {
	margin-top: 0px;
}
.headerFixed {
	height: 0px;
}
.navbarFixed {
	height: 0px;
}

a:link {
	color: #781351;
}
