.SuggestFramework_List
{
	margin-top: 70px;
	border: 1px solid #CCCCCC;
	border-top: 0;
}

.SuggestFramework_Heading
{
	padding: 0 1px 0 1px;
	background-color: #CCCCCC;
	color: #FFFFFF;
	font-weight: bold;
}

.SuggestFramework_Highlighted
{
	padding: 0 1px 0 1px;
	background-color: #f5fffa;
	color: #000000;
}

.SuggestFramework_Normal
{
	padding: 0 1px 0 1px;
	background-color: #ffffff;
	color: #000000;
}
.SuggestFramework_Normal:hover{
	background-color: #f5fffa;
	color : #000000;
}

.SuggestFramework_Combo
{
	width: 100%; 
	margin: 0; 
	padding: 0;
}